{% if user.is_authenticated %}
    {% if latest_question_list %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>  
        <a href="{% url 'polls:new' %}"><h2>투표 문장 등록하기</h2></a>
        <h2>현재 등록된 투표 질문 문장</h2>
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% else %}
    <p>you are not logged in</p>
{% endif %}

